.idea

.DS_Store

.recommenders

.metadata

.classpath

.project
src/domain/com/hidato/Main.java
*.class
*.class
*.class
*.class
/nbproject/private/
/build/
nbproject/project.properties
nbproject/project.properties
*.properties
bin/domain/JOCSDEPROVA/Hidatos.txt
bin/domain/JOCSDEPROVA/Joc_de_prova_DriverControladorDomini.txt
bin/domain/JOCSDEPROVA/Joc_de_prova_DriverHidato.txt
*.class
*.class
*.class
bin/domain/main/domain/com/hidato/Hidato.class
bin/domain/main/domain/com/hidato/Partida.class
bin/domain/main/domain/com/hidato/Partida.class
*.class
bin/domain/main/domain/com/hidato/Hidato.class
